<div class="container">
  <div class="row">
    <div class="offset-4" style="margin-top: 100px;">
      <div class="w-100">
        Login: <input type="text" [(ngModel)]="login">
      </div>
      <div class="w-100">
        Hasło: <input type="password" [(ngModel)]="password">
      </div>
      <div class="w-100">
        <button class="btn btn-primary" (click)="loginUser()">Zarejestruj</button>
      </div>
      <div class="w-100">
        <button class="btn btn-primary" (click)="loginUser2()">Zaloguj</button>
        <!-- <button (click)=add()>ADD</button> -->
      </div>
      {{info}}
    </div>
  </div>
</div>
