<div>
  <div *ngIf="promotion.id !== ''">
    <p style="text-align: center">
      PROMOCJA -{{promotion.discount}}%
    </p>
  </div>
  <p style="text-align: center" >
    <!-- produkt works! aaa aaa -->
    <img src={{product.img}} alt="zdj" class="img-fluid img-responsive rounded-circle"> <br>
    <b>{{product.name}}</b> <br>
    Ilość: {{product.count}} <br>
    Cena: {{currentPrice | currency}} <br>
    <span *ngIf="showDetails">Opis: {{product.description}} <br></span>
    <!-- <button class="btn btn-warning" (click)=deleteProductComponent(product)>Usuń</button><br> -->
    <button class="btn btn-primary" (click)=addToCart()>Dodaj do koszyka</button> <br>
    <button *ngIf="!showDetails" class="btn btn-warning" (click)=showDescription()>Pokaż więcej</button>
    <button *ngIf="showDetails" class="btn btn-warning" (click)=showDescription()>Pokaż mniej</button>
  
  </p>
  <!-- <div *ngIf="promotion !== undefined">{{promotion.discount}}</div> -->
  <!-- <ul>
    <li *ngFor="let p of promotions">
      {{p.time}}, {{p.discount}}, {{p.products[0]}}, {{p.products[1]}}
    </li>
  </ul> -->
</div>
