<div class="container">
  <h3>Koszyk {{napis}}</h3>
  <table class="table bg-white">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Ilość</th>
        <th scope="col">Cena</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of cart">
        <td>{{c.name}}</td>
        <td>{{c.count}}</td>
        <td>{{c.price * c.count | currency}}</td>
        <td>
            <button class="btn btn-primary" (click)="addProduct(c)">Dodaj sztukę</button>
          <button class="btn btn-warning" (click)="deleteProduct(c)">Usuń z koszyka</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <p>
      Ilość: {{count}} <br>
      Suma: {{sum | currency}}<br>
      <a routerLink="/products"> <button class="btn btn-primary">Wróć do zakupów</button> </a>
      <a routerLink="/confirm"><button class="btn btn-primary">Złóż zamówienie</button></a>

    </p>  
  </div>
</div>
