  <!-- <h1>
    Witaj {{imie}} {{nazwisko}}!
  </h1>

  <input [(ngModel)]="imie">Imię
  <br>
   {{2 + 2}} <br>
  {{imie.length}} <br>
  {{imie.toUpperCase()}} <br>
  {{a = 2 + 3}} -->
 <!-- {{windows.location.href}} -->
 <!-- <input [(ngModel)]="username">
 -->
 <!-- <button (click)=tabliczka(tabString,tabNumerow)>Tabliczka</button> -->

 <nav>
    <!-- <a routerLink="/">Produkty</a> <br> -->
    <!-- <a routerLink="/koszyk">Koszyk</a> <br>
    <a routerLink="/koszykv">Koszykv</a> <br>
    <a routerLink="/koszykv">Koszykv</a> -->
    <!-- <a routerLink="/confirm">Potwierdzenie</a> <br> -->
    <a routerLink="/admin">Moduł administracyjny</a>
  </nav>
  <app-koszyk-view></app-koszyk-view>
  <!-- <app-koszyk-view></app-koszyk-view> -->
      <!-- <hello-produkty></hello-produkty> -->
  <router-outlet></router-outlet>