  <!-- <h1>
    Witaj {{imie}} {{nazwisko}}!
  </h1>

  <input [(ngModel)]="imie">Imię
  <br>
   {{2 + 2}} <br>
  {{imie.length}} <br>
  {{imie.toUpperCase()}} <br>
  {{a = 2 + 3}} -->
 <!-- {{windows.location.href}} -->
 <!-- <input [(ngModel)]="username">
 -->
 <!-- <button (click)=tabliczka(tabString,tabNumerow)>Tabliczka</button> -->

 <nav>
    <a routerLink="/admin/orders"><button class="btn btn-primary">Moduł administracyjny</button></a>
    <a routerLink="/"><button class="btn btn-warning">Moduł klienta</button></a>
    <div *ngIf="role === ''" class=" float-right">
      Niezalogowany <a routerLink="/login"><button class="btn btn-primary" >Zaloguj</button></a>
    </div>
    <div *ngIf="role !== ''" class="float-right">
       Zalogowany jako: {{role}} <button class="btn btn-warning" (click)="logout()">Wyloguj</button>
    </div>
    

  </nav>
  <router-outlet></router-outlet>